<!DOCTYPE html>
<html lang="en">
<head>
	<title>Online Private Tutor Finder</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		body {
		  font-family: Arial, Helvetica, sans-serif;
		  margin: 0;
		}
		
		html {
		  box-sizing: border-box;
		}
		
		*, *:before, *:after {
		  box-sizing: inherit;
		}
		.rowteam{
			width: 100%;
			margin-left: 15%;
			margin-right: 15%;
		}
		.column {
		  float: left;
		  width: 35%;
		  margin-bottom: 16px;
		  padding: 0 8px;
		}
		
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  margin: 8px;
		}
		
		
		.about-section {
		  padding: 50px;
		  text-align: center;
		  background-color: #f6f9fd;
		  color: white;
		}
		
		.container {
		  padding: 0 16px;
		}
		
		.container::after, .row::after {
		  content: "";
		  clear: both;
		  display: table;
		}
		
		.title {
		  color: rgb(255, 255, 255);
		}
		
		.button {
		  border: none;
		  outline: 0;
		  display: inline-block;
		  padding: 8px;
		  color: white;
		  background-color: #000;
		  text-align: center;
		  cursor: pointer;
		  width: 100%;
		}
		
		.button:hover {
		  background-color: #555;
		}
		
		@media screen and (max-width: 650px) {
		  .column {
			width: 100%;
			display: block;
		  }
		}
		</style>
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="img/logo.png" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					
					<nav class="main-menu">
						<ul>
							<li><a href="\">Home</a></li>
							<li><a href="\about">About us</a></li>
							<li><a href="\courses">Courses</a></li>
							<li><a href="\blog">News</a></li>
							<li><a href="\contact">Contact</a></li>
							<li><a href="\signup">Signup</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="img/bg.jpg">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Find The Best Tutors For You</h2>
				<p>Parents can get highly qualified tutors at affordable prices.
					<br>Tutors shares a wealth of knowledge, experience, and academic degrees which they have.</p>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign In Now</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

<!--  -->

	<div class="about-section">
	<p>Now a days our Website is becoming useful to the students who are in the search of quality education. So, this application provides the support for both the tutors and students. The Admin is the head of this application who can view the students and tutors registered into the application. Admin will add the courses. The tutors who need to be registered and login and can select the course he would like teach by providing location and timings.

		Students who also need to register and login into the application while registering student will give the location and after logging when he selects the course. The tutors available in that location and the course that tutor can teach both are matched and the request will be sent to admin. Admin will confirm the request therefore student can view the tutor details.
		
		</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="rowteam">
	<div class="column">
	  <div class="card">
		<img src="img/team1.png" alt="Sintheya" style="width:100%">
		<div class="container">
		  <h2>Sanjida Islam Sintheya</h2>
		  <p class="title">CEO & Founder</p>
		  
		  <p>sanjidasintheya@gmail.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>
  
	<div class="column">
	  <div class="card">
		<img src="img/team2.png" alt="Sajib" style="width:74.5%">
		<div class="container">
		  <h2>Sajib Chandra Das</h2>
		  <p class="title">Director</p>
		  <p></p>
		  <p>sajibchdas@gmail.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>
  

	  </div>
	</div>
  </div>
<!-- -->


	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Join Our Community Now!</h2>
				<p></p>
			<div class="text-center pt-5">
				<a href="#" class="site-btn">Register Now</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->


	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Contact Info</h4>
						<ul class="contact-list">
							<li>Chasara  <br>Narayanganj</li>
							<li>01789849078</li>
							<li>sanjida.sintheya@gmail.com</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Academic</h4>
						<ul>
							<li><a href="">Physics</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Biology</a></li>
							<li><a href="">ICT</a></li>
							<li><a href="">Many More</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Art & Drawing</h4>
						<ul>
							<li><a href="">Drawing and Painting</a></li>
							<li><a href="">Painting</a></li>
							<li><a href="">Applied Art</a></li>
							<li><a href="">Portrait Painting</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>IT</h4>
						<ul>
							<li><a href="">Cloud Computing</a></li>
							<li><a href="">Microsoft Technologies</a></li>
							<li><a href="">Mobile SDKs</a></li>
							<li><a href="">Animation & Graphics</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Newsletter</h4>
						<form class="footer-newslatter">
							<input type="email" placeholder="E-mail">
							<button class="site-btn">Signin</button>
							<p>*We don’t spam</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
				
		</div>
	</footer> 
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</html>