<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ali</title>
</head>
<body>
    <form action="/ali" method="POST">
        <div>
            <label for="usernae">Username</label>
            <input required type="text" name="username">
        </div>
    
        <button type="submit" >Add Now</button>


    </form>
    
</body>
</html>